.App {

    display: flex;
    flex: 8;
    flex-direction: column;
    background-color: blue;
    min-height: 100vh;
    
}

.card_container {
    flex: 7;
    background-color: purple;
}




.bottom_row {
    flex: 1;
    justify-self: flex-end;
}