.card{
    position: relative;
    width: 600px;
    padding: 3px;
    max-width: 85vw;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.card > h3 {
    position: relative;
    color: white;
    text-align: center;
    justify-content: center;

}
.card_container{
    margin: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.swipe{
    position: absolute;
}