.card_container{
    margin: 20px;
    display: flex;
    justify-content: center;
    margin: 10vh;
}

.card{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 900px;
    padding: 3px;
    max-width: 85vw;
    height: 80vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.card > h3 {
    position: relative;
    color: white;
    text-align: center;
    justify-content: center;

}

.card > p {
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.trailer{
    justify-content: center;
}



.swipe{
    position: absolute;
}